[submodule "analyze_tools/libs/pybind11"]
	path = analyze_tools/libs/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "analyze_tools/libs/spdlog"]
	path = analyze_tools/libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
